includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 5
	phpVersion: 70400
	paths:
		- webcodingplace-post-carousel-for-elementor.php
		- uninstall.php
		- includes
		- widgets
		- templates
	bootstrapFiles:
		- tests/phpstan-bootstrap.php
	scanFiles:
		- vendor/arts/elementor-stubs/elementor-stubs.php
	ignoreErrors:
		# Template files receive these from the including method.
		-
			message: '#Variable \$(post_id|carousel_settings) might not be defined#'
			path: templates/*
